@import '@fontsource/roboto/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;

  scroll-behavior: smooth;
}

body,
html {
  background-color: transparent !important;
  @apply rounded-3xl overflow-hidden;
}

* {
  @apply transition-all transform-gpu;
}

@layer utilities {
  // This class is used for debugging/development purposes
  .dev {
    border: 3px solid red;
  }
}
